# Directories
/coverage/
/node_modules/
/stickyjs/
/src/test/js/

# Files
/.make/config-overrides.ini
/stickyjs*.zip
/*.min.js
/*.min.js.map
/src/**/*.min.js
/src/**/*.min.js.map
/__tests__/**/*.min.js
/__tests__/**/*.min.js.map
